/**   
* @Title: 徽章 - 按钮后面数字消息提示
* @Description: ${todo}(用一句话描述该文件做什么) 
* @author name
* @date 2015-10-19
* @version V1.0   
*/


.badge
    display inline-block
    min-width 10px
    padding 3px 7px
    font-size $font_size_small
    font-weight $badge_font_weight
    line-height $badge_line_height
    color $badge_color
    text-align center
    white-space nowrap
    vertical-align middle
    background-color $badge_bg
    border-radius $badge_border_radius  
.btn_primary .badge
    color $btn_primary_bg
    background-color $btn_primary_color
.nav_pills > .active > a > .badge
    color $badge_active_color
    background-color $badge_active_bg
    margin-left 3px