/**   
* @Title: 入口css
*/

// 使用nib模块 和 CSS reset
// ==================================

// CSS reset
// global-reset()
// reset-html5()
// 核心 variables and mixins
// ==================================
// 变量声明
@import 'variables'
// 组件引用
@import "mixins" 


//组件过渡动画 
@import 'transition'

// 核心 CSS
// ==================================
// 一些基础的手脚架
@import "scaffolding"
// 按钮
@import 'buttons'

// 栅格
@import 'grid'


// 表格
@import 'table'

//表单
@import 'forms'
@import 'input-group'

// 排版 
@import 'type'


// 导航
@import 'nav'

//导航条
@import 'navbar'

// 面包屑
@import 'breadcrumb'


// 下拉菜单
@import 'dropdowns'
@import 'button-group'

//报警弹框
@import 'alerts'

//标签
@import 'labels'

//翻页
@import 'pagination'
@import 'pager'

//列表组
@import 'list-groups'

//徽章
@import 'badges'

//媒体对象 (类似博客评论消息系统等)
@import 'media'


//巨幕 (类似博客评论消息系统等)
@import 'jumbotron'


//弹出框 
@import 'popovers'

//工具提示 
@import 'tooltip'


//弹出框 
@import 'modal'
/** 

  # 实用工具

.clearfix 清除浮动
.left 左浮动
.right 右浮动
.hide 隐藏
.invisible 隐藏内容占位
.show 显示

*/
@import 'utilities'

