/**   
* @Title: 表单样式 
* @Description: ${todo}(表单样式) 
* @author 徐锐
* @date 2015-10-19
* @version V1.0   
*/

.media
    margin-top 15px
    &:first-child
        margin-top 0

.media,.media_body
    zoom 1
    overflow hidden

.media_body
    width 10000px

.media_objeck
    display block
    &.img_thumbnail
        max-width none

.media_right,
.media > .right
    padding-left 10px

.media_left,
.media > .left
    padding-right 10px

.media_left,.media_right,.media_body
    display table-cell
    vertical-align top

.media_middle
    vertical-align middle

.media_bottom
    vertical-align bottom
    
.media_heading
    margin-top 0
    margin-bottom 5px
    
.media_list
    padding-left 0
    list-style none



