/**   
* @Title: 弹出框
* @Description: ${todo}(用一句话描述该文件做什么) 
* @author 徐锐
* @date 2015-10-19
* @version V1.0   
*/

.popover
    position absolute
    top 0
    left 0
    z-index $zindex_popover
    display none
    padding 1px
    reset_text()
    font-family $font_family_base
    font-size $font_size_base
    background-color $popover_bg
    background-clip padding_box
    border 1px solid $popover_fallback_border_color
    border 1px solid $popover_border_color
    border-radius $border_radius_large
    box-shadow 0 5px 10px rgba(0, 0, 0, .2)
    &.top
        margin-top (-($popover_arrow_width))

    &.right
        margin-left $popover_arrow_width

    &.bottom
        margin-top $popover_arrow_width

    &.left
        margin-left (-($popover_arrow_width)) 

.popover_title
    margin 0 // reset heading margin
    padding 8px 14px
    font-size $font_size_base
    background-color $popover_title_bg
    border-bottom 1px solid darken($popover_title_bg, 5%)
    border-radius ($border_radius_large - 1) ($border_radius_large - 1) 0 0

.popover_content
    padding 9px 14px
    
.popover > .arrow
    &,
    &:after
        position absolute
        display block
        width 0
        height 0
        border-color transparent
        border-style solid

.popover > .arrow
    border-width $popover_arrow_outer_width

.popover > .arrow:after
    border-width $popover_arrow_width
    content ""

.popover
    &.top > .arrow
        left 50%
        margin-left (-($popover_arrow_outer_width))
        border-bottom-width 0
        border-top-color $popover_arrow_outer_fallback_color // IE8 fallback
        border-top-color $popover_arrow_outer_color
        bottom (-($popover_arrow_outer_width))
        &:after
            content " "
            bottom 1px
            margin-left (-($popover_arrow_width))
            border-bottom-width 0
            border-top-color $popover_arrow_color


    &.right > .arrow
        top 50%
        left (-($popover_arrow_outer_width))
        margin-top (-($popover_arrow_outer_width))
        border-left-width 0
        border-right-color $popover_arrow_outer_fallback_color 
        border-right-color $popover_arrow_outer_color
        &:after
            content " "
            left 1px
            bottom (-($popover_arrow_width))
            border-left-width 0
            border-right-color $popover_arrow_color

    &.bottom > .arrow
        left 50%
        margin-left (-($popover_arrow_outer_width))
        border-top-width 0
        border-bottom-color $popover_arrow_outer_fallback_color
        border-bottom-color $popover_arrow_outer_color
        top (-($popover_arrow_outer_width))
        &:after
            content " "
            top 1px
            margin-left (-($popover_arrow_width))
            border-top-width 0
            border-bottom-color $popover_arrow_color
            
    &.left > .arrow
        top 50%
        right (-($popover_arrow_outer_width))
        margin-top (-($popover_arrow_outer_width))
        border-right-width 0
        border-left-color $popover_arrow_outer_fallback_color 
        border-left-color $popover_arrow_outer_color
        &:after
            content " "
            right 1px
            border-right-width 0
            border-left-color $popover_arrow_color
            bottom (-($popover_arrow_width))







