

// float 浮动
// ====================

// 清除浮动
.clearfix
    clearfix()

// 右浮动
.pull_right
    float right !important

// 左浮动
.pull_left
    float left !important



// 切换
// =====================


// 隐藏
.hidden
    display none !important

// 展示
.show 
    display block !important

// 隐藏并占位
.invisible
    visibility hidden