//警告框的样式方法
alert-variant($background, $border, $text_color)
    background $background
    border-color $border
    color $text_color
    .alert_link
        color darken($text_color, 10%)
    hr 
        border-top-color darken($border, 5%)
