//水平分隔线的样式

//分隔线 在下拉菜单和导航类表中
nav_divider($color = #e5e5e5)
    height 1px
    margin (($line_height_computed / 2) - 1) 0
    overflow hidden
    background-color $color
    

navbar_vertical_align($element_height)
    margin-top (($navbar_height - $element_height) / 2)
    margin-bottom (($navbar_height - $element_height) / 2)


