// 重置字体

reset_text()
    font-family $font_family_base
    font-style normal
    font-weight normal
    letter-spacing normal
    line-break normal
    line-height $line_height_base
    text-align left 
    text-align start
    text-decoration none
    text-shadow none
    text-transform none
    white-space normal
    word-break normal
    word-spacing normal
    word-wrap normal