//文本溢出

text-overflow(type=ellipsis)
   text-overflow ellipsis
   if type == ellipsis
       overflow hidden unless @overflow
       white-space nowrap unless @white-space
       
//unless 除非， unless与if相反

// 如果文本显示省略符号来代替溢出的文本，将输出 overflow：hidden, white-space:nwrap

      
       