/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.{$icon-css-prefix}-glass:before 
    content $icon-var-glass
.{$icon-css-prefix}-music:before
    content $icon-var-music
.{$icon-css-prefix}-search:before 
    content $icon-var-search
.{$icon-css-prefix}-envelope-o:before
    content $icon-var-envelope-o
.{$icon-css-prefix}-heart:before
    content $icon-var-heart
.{$icon-css-prefix}-star:before
    content $icon-var-star
.{$icon-css-prefix}-star-o:before
    content $icon-var-star-o
.{$icon-css-prefix}-user:before
    content $icon-var-user
.{$icon-css-prefix}-film:before
    content $icon-var-film
.{$icon-css-prefix}-th-large:before
    content $icon-var-th-large
.{$icon-css-prefix}-th:before
    content $icon-var-th
.{$icon-css-prefix}-th-list:before
    content $icon-var-th-list
.{$icon-css-prefix}-check:before
    content $icon-var-check
.{$icon-css-prefix}-remove:before,
.{$icon-css-prefix}-close:before,
.{$icon-css-prefix}-times:before
    content $icon-var-times
.{$icon-css-prefix}-search-plus:before
    content $icon-var-search-plus
.{$icon-css-prefix}-search-minus:before
    content $icon-var-search-minus
.{$icon-css-prefix}-power-off:before
    content $icon-var-power-off
.{$icon-css-prefix}-signal:before
    content $icon-var-signal
.{$icon-css-prefix}-gear:before,
.{$icon-css-prefix}-cog:before
    content $icon-var-cog
.{$icon-css-prefix}-trash-o:before
    content $icon-var-trash-o
.{$icon-css-prefix}-home:before
    content $icon-var-home
.{$icon-css-prefix}-file-o:before
    content $icon-var-file-o
.{$icon-css-prefix}-clock-o:before
    content $icon-var-clock-o
.{$icon-css-prefix}-road:before
    content $icon-var-road
.{$icon-css-prefix}-download:before
    content $icon-var-download
.{$icon-css-prefix}-arrow-circle-o-down:before
    content $icon-var-arrow-circle-o-down
.{$icon-css-prefix}-arrow-circle-o-up:before
    content $icon-var-arrow-circle-o-up
.{$icon-css-prefix}-inbox:before
    content $icon-var-inbox
.{$icon-css-prefix}-play-circle-o:before
    content $icon-var-play-circle-o
.{$icon-css-prefix}-rotate-right:before,
.{$icon-css-prefix}-repeat:before
    content $icon-var-repeat
.{$icon-css-prefix}-refresh:before
    content $icon-var-refresh
.{$icon-css-prefix}-list-alt:before
    content $icon-var-list-alt
.{$icon-css-prefix}-lock:before
    content $icon-var-lock
.{$icon-css-prefix}-flag:before
    content $icon-var-flag
.{$icon-css-prefix}-headphones:before
    content $icon-var-headphones
.{$icon-css-prefix}-volume-off:before
    content $icon-var-volume-off
.{$icon-css-prefix}-volume-down:before
    content $icon-var-volume-down
.{$icon-css-prefix}-volume-up:before
    content $icon-var-volume-up
.{$icon-css-prefix}-qrcode:before
    content $icon-var-qrcode
.{$icon-css-prefix}-barcode:before
    content $icon-var-barcode
.{$icon-css-prefix}-tag:before
    content $icon-var-tag
.{$icon-css-prefix}-tags:before
    content $icon-var-tags
.{$icon-css-prefix}-book:before
    content $icon-var-book
.{$icon-css-prefix}-bookmark:before
    content $icon-var-bookmark
.{$icon-css-prefix}-print:before
    content $icon-var-print
.{$icon-css-prefix}-camera:before
    content $icon-var-camera
.{$icon-css-prefix}-font:before
    content $icon-var-font
.{$icon-css-prefix}-bold:before
    content $icon-var-bold
.{$icon-css-prefix}-italic:before
    content $icon-var-italic
.{$icon-css-prefix}-text-height:before
    content $icon-var-text-height
.{$icon-css-prefix}-text-width:before
    content $icon-var-text-width
.{$icon-css-prefix}-align-left:before
    content $icon-var-align-left
.{$icon-css-prefix}-align-center:before
    content $icon-var-align-center
.{$icon-css-prefix}-align-right:before
    content $icon-var-align-right
.{$icon-css-prefix}-align-justify:before
    content $icon-var-align-justify
.{$icon-css-prefix}-list:before
    content $icon-var-list
.{$icon-css-prefix}-dedent:before,
.{$icon-css-prefix}-outdent:before
    content $icon-var-outdent
.{$icon-css-prefix}-indent:before
    content $icon-var-indent
.{$icon-css-prefix}-video-camera:before
    content $icon-var-video-camera
.{$icon-css-prefix}-photo:before,
.{$icon-css-prefix}-image:before,
.{$icon-css-prefix}-picture-o:before
    content $icon-var-picture-o
.{$icon-css-prefix}-pencil:before
    content $icon-var-pencil
.{$icon-css-prefix}-map-marker:before
    content $icon-var-map-marker
.{$icon-css-prefix}-adjust:before
    content $icon-var-adjust
.{$icon-css-prefix}-tint:before
    content $icon-var-tint
.{$icon-css-prefix}-edit:before,
.{$icon-css-prefix}-pencil-square-o:before
    content $icon-var-pencil-square-o
.{$icon-css-prefix}-share-square-o:before
    content $icon-var-share-square-o
.{$icon-css-prefix}-check-square-o:before
    content $icon-var-check-square-o
.{$icon-css-prefix}-arrows:before
    content $icon-var-arrows
.{$icon-css-prefix}-step-backward:before
    content $icon-var-step-backward
.{$icon-css-prefix}-iconst-backward:before
    content $icon-var-iconst-backward
.{$icon-css-prefix}-backward:before
    content $icon-var-backward
.{$icon-css-prefix}-play:before
    content $icon-var-play
.{$icon-css-prefix}-pause:before
    content $icon-var-pause
.{$icon-css-prefix}-stop:before
    content $icon-var-stop
.{$icon-css-prefix}-forward:before
    content $icon-var-forward
.{$icon-css-prefix}-iconst-forward:before
    content $icon-var-iconst-forward
.{$icon-css-prefix}-step-forward:before
    content $icon-var-step-forward
.{$icon-css-prefix}-eject:before
    content $icon-var-eject
.{$icon-css-prefix}-chevron-left:before
    content $icon-var-chevron-left
.{$icon-css-prefix}-chevron-right:before
    content $icon-var-chevron-right
.{$icon-css-prefix}-plus-circle:before
    content $icon-var-plus-circle
.{$icon-css-prefix}-minus-circle:before
    content $icon-var-minus-circle
.{$icon-css-prefix}-times-circle:before
    content $icon-var-times-circle
.{$icon-css-prefix}-check-circle:before
    content $icon-var-check-circle
.{$icon-css-prefix}-question-circle:before
    content $icon-var-question-circle
.{$icon-css-prefix}-info-circle:before
    content $icon-var-info-circle
.{$icon-css-prefix}-crosshairs:before
    content $icon-var-crosshairs
.{$icon-css-prefix}-times-circle-o:before
    content $icon-var-times-circle-o
.{$icon-css-prefix}-check-circle-o:before
    content $icon-var-check-circle-o
.{$icon-css-prefix}-ban:before
    content $icon-var-ban
.{$icon-css-prefix}-arrow-left:before
    content $icon-var-arrow-left
.{$icon-css-prefix}-arrow-right:before
    content $icon-var-arrow-right
.{$icon-css-prefix}-arrow-up:before
    content $icon-var-arrow-up
.{$icon-css-prefix}-arrow-down:before
    content $icon-var-arrow-down
.{$icon-css-prefix}-mail-forward:before,
.{$icon-css-prefix}-share:before
    content $icon-var-share
.{$icon-css-prefix}-expand:before
    content $icon-var-expand
.{$icon-css-prefix}-compress:before
    content $icon-var-compress
.{$icon-css-prefix}-plus:before
    content $icon-var-plus
.{$icon-css-prefix}-minus:before
    content $icon-var-minus
.{$icon-css-prefix}-asterisk:before
    content $icon-var-asterisk
.{$icon-css-prefix}-exclamation-circle:before
    content $icon-var-exclamation-circle
.{$icon-css-prefix}-gift:before
    content $icon-var-gift
.{$icon-css-prefix}-leaf:before
    content $icon-var-leaf
.{$icon-css-prefix}-fire:before
    content $icon-var-fire
.{$icon-css-prefix}-eye:before
    content $icon-var-eye
.{$icon-css-prefix}-eye-slash:before
    content $icon-var-eye-slash
.{$icon-css-prefix}-warning:before,
.{$icon-css-prefix}-exclamation-triangle:before
    content $icon-var-exclamation-triangle
.{$icon-css-prefix}-plane:before
    content $icon-var-plane
.{$icon-css-prefix}-calendar:before
    content $icon-var-calendar
.{$icon-css-prefix}-random:before
    content $icon-var-random
.{$icon-css-prefix}-comment:before
    content $icon-var-comment
.{$icon-css-prefix}-magnet:before
    content $icon-var-magnet
.{$icon-css-prefix}-chevron-up:before
    content $icon-var-chevron-up
.{$icon-css-prefix}-chevron-down:before
    content $icon-var-chevron-down
.{$icon-css-prefix}-retweet:before
    content $icon-var-retweet
.{$icon-css-prefix}-shopping-cart:before
    content $icon-var-shopping-cart
.{$icon-css-prefix}-folder:before
    content $icon-var-folder
.{$icon-css-prefix}-folder-open:before
    content $icon-var-folder-open
.{$icon-css-prefix}-arrows-v:before
    content $icon-var-arrows-v
.{$icon-css-prefix}-arrows-h:before
    content $icon-var-arrows-h
.{$icon-css-prefix}-bar-chart-o:before,
.{$icon-css-prefix}-bar-chart:before
    content $icon-var-bar-chart
.{$icon-css-prefix}-twitter-square:before
    content $icon-var-twitter-square
.{$icon-css-prefix}-iconcebook-square:before
    content $icon-var-iconcebook-square
.{$icon-css-prefix}-camera-retro:before
    content $icon-var-camera-retro
.{$icon-css-prefix}-key:before
    content $icon-var-key
.{$icon-css-prefix}-gears:before,
.{$icon-css-prefix}-cogs:before
    content $icon-var-cogs
.{$icon-css-prefix}-comments:before
    content $icon-var-comments
.{$icon-css-prefix}-thumbs-o-up:before
    content $icon-var-thumbs-o-up
.{$icon-css-prefix}-thumbs-o-down:before
    content $icon-var-thumbs-o-down
.{$icon-css-prefix}-star-half:before
    content $icon-var-star-half
.{$icon-css-prefix}-heart-o:before
    content $icon-var-heart-o
.{$icon-css-prefix}-sign-out:before
    content $icon-var-sign-out
.{$icon-css-prefix}-linkedin-square:before
    content $icon-var-linkedin-square
.{$icon-css-prefix}-thumb-tack:before
    content $icon-var-thumb-tack
.{$icon-css-prefix}-external-link:before
    content $icon-var-external-link
.{$icon-css-prefix}-sign-in:before
    content $icon-var-sign-in
.{$icon-css-prefix}-trophy:before
    content $icon-var-trophy
.{$icon-css-prefix}-github-square:before
    content $icon-var-github-square
.{$icon-css-prefix}-upload:before
    content $icon-var-upload
.{$icon-css-prefix}-lemon-o:before
    content $icon-var-lemon-o
.{$icon-css-prefix}-phone:before
    content $icon-var-phone
.{$icon-css-prefix}-square-o:before
    content $icon-var-square-o
.{$icon-css-prefix}-bookmark-o:before
    content $icon-var-bookmark-o
.{$icon-css-prefix}-phone-square:before
    content $icon-var-phone-square
.{$icon-css-prefix}-twitter:before
    content $icon-var-twitter
.{$icon-css-prefix}-iconcebook-f:before,
.{$icon-css-prefix}-iconcebook:before
    content $icon-var-iconcebook
.{$icon-css-prefix}-github:before
    content $icon-var-github
.{$icon-css-prefix}-unlock:before
    content $icon-var-unlock
.{$icon-css-prefix}-credit-card:before
    content $icon-var-credit-card
.{$icon-css-prefix}-feed:before,
.{$icon-css-prefix}-rss:before
    content $icon-var-rss
.{$icon-css-prefix}-hdd-o:before
    content $icon-var-hdd-o
.{$icon-css-prefix}-bullhorn:before
    content $icon-var-bullhorn
.{$icon-css-prefix}-bell:before
    content $icon-var-bell
.{$icon-css-prefix}-certificate:before
    content $icon-var-certificate
.{$icon-css-prefix}-hand-o-right:before
    content $icon-var-hand-o-right
.{$icon-css-prefix}-hand-o-left:before
    content $icon-var-hand-o-left
.{$icon-css-prefix}-hand-o-up:before
    content $icon-var-hand-o-up
.{$icon-css-prefix}-hand-o-down:before
    content $icon-var-hand-o-down
.{$icon-css-prefix}-arrow-circle-left:before
    content $icon-var-arrow-circle-left
.{$icon-css-prefix}-arrow-circle-right:before
    content $icon-var-arrow-circle-right
.{$icon-css-prefix}-arrow-circle-up:before
    content $icon-var-arrow-circle-up
.{$icon-css-prefix}-arrow-circle-down:before
    content $icon-var-arrow-circle-down
.{$icon-css-prefix}-globe:before
    content $icon-var-globe
.{$icon-css-prefix}-wrench:before
    content $icon-var-wrench
.{$icon-css-prefix}-tasks:before
    content $icon-var-tasks
.{$icon-css-prefix}-filter:before
    content $icon-var-filter
.{$icon-css-prefix}-briefcase:before
    content $icon-var-briefcase
.{$icon-css-prefix}-arrows-alt:before
    content $icon-var-arrows-alt
.{$icon-css-prefix}-group:before,
.{$icon-css-prefix}-users:before
    content $icon-var-users
.{$icon-css-prefix}-chain:before,
.{$icon-css-prefix}-link:before
    content $icon-var-link
.{$icon-css-prefix}-cloud:before
    content $icon-var-cloud
.{$icon-css-prefix}-flask:before
    content $icon-var-flask
.{$icon-css-prefix}-cut:before,
.{$icon-css-prefix}-scissors:before
    content $icon-var-scissors
.{$icon-css-prefix}-copy:before,
.{$icon-css-prefix}-files-o:before
    content $icon-var-files-o
.{$icon-css-prefix}-paperclip:before
    content $icon-var-paperclip
.{$icon-css-prefix}-save:before,
.{$icon-css-prefix}-floppy-o:before
    content $icon-var-floppy-o
.{$icon-css-prefix}-square:before
    content $icon-var-square
.{$icon-css-prefix}-navicon:before,
.{$icon-css-prefix}-reorder:before,
.{$icon-css-prefix}-bars:before
    content $icon-var-bars
.{$icon-css-prefix}-list-ul:before
    content $icon-var-list-ul
.{$icon-css-prefix}-list-ol:before
    content $icon-var-list-ol
.{$icon-css-prefix}-strikethrough:before
    content $icon-var-strikethrough
.{$icon-css-prefix}-underline:before
    content $icon-var-underline
.{$icon-css-prefix}-table:before
    content $icon-var-table
.{$icon-css-prefix}-magic:before
    content $icon-var-magic
.{$icon-css-prefix}-truck:before
    content $icon-var-truck
.{$icon-css-prefix}-pinterest:before
    content $icon-var-pinterest
.{$icon-css-prefix}-pinterest-square:before
    content $icon-var-pinterest-square
.{$icon-css-prefix}-google-plus-square:before
    content $icon-var-google-plus-square
.{$icon-css-prefix}-google-plus:before
    content $icon-var-google-plus
.{$icon-css-prefix}-money:before
    content $icon-var-money
.{$icon-css-prefix}-caret-down:before
    content $icon-var-caret-down
.{$icon-css-prefix}-caret-up:before
    content $icon-var-caret-up
.{$icon-css-prefix}-caret-left:before
    content $icon-var-caret-left
.{$icon-css-prefix}-caret-right:before
    content $icon-var-caret-right
.{$icon-css-prefix}-columns:before
    content $icon-var-columns
.{$icon-css-prefix}-unsorted:before,
.{$icon-css-prefix}-sort:before
    content $icon-var-sort
.{$icon-css-prefix}-sort-down:before,
.{$icon-css-prefix}-sort-desc:before
    content $icon-var-sort-desc
.{$icon-css-prefix}-sort-up:before,
.{$icon-css-prefix}-sort-asc:before
    content $icon-var-sort-asc
.{$icon-css-prefix}-envelope:before
    content $icon-var-envelope
.{$icon-css-prefix}-linkedin:before
    content $icon-var-linkedin
.{$icon-css-prefix}-rotate-left:before,
.{$icon-css-prefix}-undo:before
    content $icon-var-undo
.{$icon-css-prefix}-legal:before,
.{$icon-css-prefix}-gavel:before
    content $icon-var-gavel
.{$icon-css-prefix}-dashboard:before,
.{$icon-css-prefix}-tachometer:before
    content $icon-var-tachometer
.{$icon-css-prefix}-comment-o:before
    content $icon-var-comment-o
.{$icon-css-prefix}-comments-o:before
    content $icon-var-comments-o
.{$icon-css-prefix}-flash:before,
.{$icon-css-prefix}-bolt:before
    content $icon-var-bolt
.{$icon-css-prefix}-sitemap:before
    content $icon-var-sitemap
.{$icon-css-prefix}-umbrella:before
    content $icon-var-umbrella
.{$icon-css-prefix}-paste:before,
.{$icon-css-prefix}-clipboard:before
    content $icon-var-clipboard
.{$icon-css-prefix}-lightbulb-o:before
    content $icon-var-lightbulb-o
.{$icon-css-prefix}-exchange:before
    content $icon-var-exchange
.{$icon-css-prefix}-cloud-download:before
    content $icon-var-cloud-download
.{$icon-css-prefix}-cloud-upload:before
    content $icon-var-cloud-upload
.{$icon-css-prefix}-user-md:before
    content $icon-var-user-md
.{$icon-css-prefix}-stethoscope:before
    content $icon-var-stethoscope
.{$icon-css-prefix}-suitcase:before
    content $icon-var-suitcase
.{$icon-css-prefix}-bell-o:before
    content $icon-var-bell-o
.{$icon-css-prefix}-coffee:before
    content $icon-var-coffee
.{$icon-css-prefix}-cutlery:before
    content $icon-var-cutlery
.{$icon-css-prefix}-file-text-o:before
    content $icon-var-file-text-o
.{$icon-css-prefix}-building-o:before
    content $icon-var-building-o
.{$icon-css-prefix}-hospital-o:before
    content $icon-var-hospital-o
.{$icon-css-prefix}-ambulance:before
    content $icon-var-ambulance
.{$icon-css-prefix}-medkit:before
    content $icon-var-medkit
.{$icon-css-prefix}-fighter-jet:before
    content $icon-var-fighter-jet
.{$icon-css-prefix}-beer:before
    content $icon-var-beer
.{$icon-css-prefix}-h-square:before
    content $icon-var-h-square
.{$icon-css-prefix}-plus-square:before
    content $icon-var-plus-square
.{$icon-css-prefix}-angle-double-left:before
    content $icon-var-angle-double-left
.{$icon-css-prefix}-angle-double-right:before
    content $icon-var-angle-double-right
.{$icon-css-prefix}-angle-double-up:before
    content $icon-var-angle-double-up
.{$icon-css-prefix}-angle-double-down:before
    content $icon-var-angle-double-down
.{$icon-css-prefix}-angle-left:before
    content $icon-var-angle-left
.{$icon-css-prefix}-angle-right:before
    content $icon-var-angle-right
.{$icon-css-prefix}-angle-up:before
    content $icon-var-angle-up
.{$icon-css-prefix}-angle-down:before
    content $icon-var-angle-down
.{$icon-css-prefix}-desktop:before
    content $icon-var-desktop
.{$icon-css-prefix}-laptop:before
    content $icon-var-laptop
.{$icon-css-prefix}-tablet:before
    content $icon-var-tablet
.{$icon-css-prefix}-mobile-phone:before,
.{$icon-css-prefix}-mobile:before
    content $icon-var-mobile
.{$icon-css-prefix}-circle-o:before
    content $icon-var-circle-o
.{$icon-css-prefix}-quote-left:before
    content $icon-var-quote-left
.{$icon-css-prefix}-quote-right:before
    content $icon-var-quote-right
.{$icon-css-prefix}-spinner:before
    content $icon-var-spinner
.{$icon-css-prefix}-circle:before
    content $icon-var-circle
.{$icon-css-prefix}-mail-reply:before,
.{$icon-css-prefix}-reply:before
    content $icon-var-reply
.{$icon-css-prefix}-github-alt:before
    content $icon-var-github-alt
.{$icon-css-prefix}-folder-o:before
    content $icon-var-folder-o
.{$icon-css-prefix}-folder-open-o:before
    content $icon-var-folder-open-o
.{$icon-css-prefix}-smile-o:before
    content $icon-var-smile-o
.{$icon-css-prefix}-frown-o:before
    content $icon-var-frown-o
.{$icon-css-prefix}-meh-o:before
    content $icon-var-meh-o
.{$icon-css-prefix}-gamepad:before
    content $icon-var-gamepad
.{$icon-css-prefix}-keyboard-o:before
    content $icon-var-keyboard-o
.{$icon-css-prefix}-flag-o:before
    content $icon-var-flag-o
.{$icon-css-prefix}-flag-checkered:before
    content $icon-var-flag-checkered
.{$icon-css-prefix}-terminal:before
    content $icon-var-terminal
.{$icon-css-prefix}-code:before
    content $icon-var-code
.{$icon-css-prefix}-mail-reply-all:before,
.{$icon-css-prefix}-reply-all:before
    content $icon-var-reply-all
.{$icon-css-prefix}-star-half-empty:before,
.{$icon-css-prefix}-star-half-full:before,
.{$icon-css-prefix}-star-half-o:before
    content $icon-var-star-half-o
.{$icon-css-prefix}-location-arrow:before
    content $icon-var-location-arrow
.{$icon-css-prefix}-crop:before
    content $icon-var-crop
.{$icon-css-prefix}-code-fork:before
    content $icon-var-code-fork
.{$icon-css-prefix}-unlink:before,
.{$icon-css-prefix}-chain-broken:before
    content $icon-var-chain-broken
.{$icon-css-prefix}-question:before
    content $icon-var-question
.{$icon-css-prefix}-info:before
    content $icon-var-info
.{$icon-css-prefix}-exclamation:before
    content $icon-var-exclamation
.{$icon-css-prefix}-superscript:before
    content $icon-var-superscript
.{$icon-css-prefix}-subscript:before
    content $icon-var-subscript
.{$icon-css-prefix}-eraser:before
    content $icon-var-eraser
.{$icon-css-prefix}-puzzle-piece:before
    content $icon-var-puzzle-piece
.{$icon-css-prefix}-microphone:before
    content $icon-var-microphone
.{$icon-css-prefix}-microphone-slash:before
    content $icon-var-microphone-slash
.{$icon-css-prefix}-shield:before
    content $icon-var-shield
.{$icon-css-prefix}-calendar-o:before
    content $icon-var-calendar-o
.{$icon-css-prefix}-fire-extinguisher:before
    content $icon-var-fire-extinguisher
.{$icon-css-prefix}-rocket:before
    content $icon-var-rocket
.{$icon-css-prefix}-maxcdn:before
    content $icon-var-maxcdn
.{$icon-css-prefix}-chevron-circle-left:before
    content $icon-var-chevron-circle-left
.{$icon-css-prefix}-chevron-circle-right:before
    content $icon-var-chevron-circle-right
.{$icon-css-prefix}-chevron-circle-up:before
    content $icon-var-chevron-circle-up
.{$icon-css-prefix}-chevron-circle-down:before
    content $icon-var-chevron-circle-down
.{$icon-css-prefix}-html5:before
    content $icon-var-html5
.{$icon-css-prefix}-css3:before
    content $icon-var-css3
.{$icon-css-prefix}-anchor:before
    content $icon-var-anchor
.{$icon-css-prefix}-unlock-alt:before
    content $icon-var-unlock-alt
.{$icon-css-prefix}-bullseye:before
    content $icon-var-bullseye
.{$icon-css-prefix}-ellipsis-h:before
    content $icon-var-ellipsis-h
.{$icon-css-prefix}-ellipsis-v:before
    content $icon-var-ellipsis-v
.{$icon-css-prefix}-rss-square:before
    content $icon-var-rss-square
.{$icon-css-prefix}-play-circle:before
    content $icon-var-play-circle
.{$icon-css-prefix}-ticket:before
    content $icon-var-ticket
.{$icon-css-prefix}-minus-square:before
    content $icon-var-minus-square
.{$icon-css-prefix}-minus-square-o:before
    content $icon-var-minus-square-o
.{$icon-css-prefix}-level-up:before
    content $icon-var-level-up
.{$icon-css-prefix}-level-down:before
    content $icon-var-level-down
.{$icon-css-prefix}-check-square:before
    content $icon-var-check-square
.{$icon-css-prefix}-pencil-square:before
    content $icon-var-pencil-square
.{$icon-css-prefix}-external-link-square:before
    content $icon-var-external-link-square
.{$icon-css-prefix}-share-square:before
    content $icon-var-share-square
.{$icon-css-prefix}-compass:before
    content $icon-var-compass
.{$icon-css-prefix}-toggle-down:before,
.{$icon-css-prefix}-caret-square-o-down:before
    content $icon-var-caret-square-o-down
.{$icon-css-prefix}-toggle-up:before,
.{$icon-css-prefix}-caret-square-o-up:before
    content $icon-var-caret-square-o-up
.{$icon-css-prefix}-toggle-right:before,
.{$icon-css-prefix}-caret-square-o-right:before
    content $icon-var-caret-square-o-right
.{$icon-css-prefix}-euro:before,
.{$icon-css-prefix}-eur:before
    content $icon-var-eur
.{$icon-css-prefix}-gbp:before
    content $icon-var-gbp
.{$icon-css-prefix}-dollar:before,
.{$icon-css-prefix}-usd:before
    content $icon-var-usd
.{$icon-css-prefix}-rupee:before,
.{$icon-css-prefix}-inr:before
    content $icon-var-inr
.{$icon-css-prefix}-cny:before,
.{$icon-css-prefix}-rmb:before,
.{$icon-css-prefix}-yen:before,
.{$icon-css-prefix}-jpy:before
    content $icon-var-jpy
.{$icon-css-prefix}-ruble:before,
.{$icon-css-prefix}-rouble:before,
.{$icon-css-prefix}-rub:before
    content $icon-var-rub
.{$icon-css-prefix}-won:before,
.{$icon-css-prefix}-krw:before
    content $icon-var-krw
.{$icon-css-prefix}-bitcoin:before,
.{$icon-css-prefix}-btc:before
    content $icon-var-btc
.{$icon-css-prefix}-file:before
    content $icon-var-file
.{$icon-css-prefix}-file-text:before
    content $icon-var-file-text
.{$icon-css-prefix}-sort-alpha-asc:before
    content $icon-var-sort-alpha-asc
.{$icon-css-prefix}-sort-alpha-desc:before
    content $icon-var-sort-alpha-desc
.{$icon-css-prefix}-sort-amount-asc:before
    content $icon-var-sort-amount-asc
.{$icon-css-prefix}-sort-amount-desc:before
    content $icon-var-sort-amount-desc
.{$icon-css-prefix}-sort-numeric-asc:before
    content $icon-var-sort-numeric-asc
.{$icon-css-prefix}-sort-numeric-desc:before
    content $icon-var-sort-numeric-desc
.{$icon-css-prefix}-thumbs-up:before
    content $icon-var-thumbs-up
.{$icon-css-prefix}-thumbs-down:before
    content $icon-var-thumbs-down
.{$icon-css-prefix}-youtube-square:before
    content $icon-var-youtube-square
.{$icon-css-prefix}-youtube:before
    content $icon-var-youtube
.{$icon-css-prefix}-xing:before
    content $icon-var-xing
.{$icon-css-prefix}-xing-square:before
    content $icon-var-xing-square
.{$icon-css-prefix}-youtube-play:before
    content $icon-var-youtube-play
.{$icon-css-prefix}-dropbox:before
    content $icon-var-dropbox
.{$icon-css-prefix}-stack-overflow:before
    content $icon-var-stack-overflow
.{$icon-css-prefix}-instagram:before
    content $icon-var-instagram
.{$icon-css-prefix}-flickr:before
    content $icon-var-flickr
.{$icon-css-prefix}-adn:before
    content $icon-var-adn
.{$icon-css-prefix}-bitbucket:before
    content $icon-var-bitbucket
.{$icon-css-prefix}-bitbucket-square:before
    content $icon-var-bitbucket-square
.{$icon-css-prefix}-tumblr:before
    content $icon-var-tumblr
.{$icon-css-prefix}-tumblr-square:before
    content $icon-var-tumblr-square
.{$icon-css-prefix}-long-arrow-down:before
    content $icon-var-long-arrow-down
.{$icon-css-prefix}-long-arrow-up:before
    content $icon-var-long-arrow-up
.{$icon-css-prefix}-long-arrow-left:before
    content $icon-var-long-arrow-left
.{$icon-css-prefix}-long-arrow-right:before
    content $icon-var-long-arrow-right
.{$icon-css-prefix}-apple:before
    content $icon-var-apple
.{$icon-css-prefix}-windows:before
    content $icon-var-windows
.{$icon-css-prefix}-android:before
    content $icon-var-android
.{$icon-css-prefix}-linux:before
    content $icon-var-linux
.{$icon-css-prefix}-dribbble:before
    content $icon-var-dribbble
.{$icon-css-prefix}-skype:before
    content $icon-var-skype
.{$icon-css-prefix}-foursquare:before
    content $icon-var-foursquare
.{$icon-css-prefix}-trello:before
    content $icon-var-trello
.{$icon-css-prefix}-female:before
    content $icon-var-female
.{$icon-css-prefix}-male:before
    content $icon-var-male
.{$icon-css-prefix}-gittip:before,
.{$icon-css-prefix}-gratipay:before
    content $icon-var-gratipay
.{$icon-css-prefix}-sun-o:before
    content $icon-var-sun-o
.{$icon-css-prefix}-moon-o:before
    content $icon-var-moon-o
.{$icon-css-prefix}-archive:before
    content $icon-var-archive
.{$icon-css-prefix}-bug:before
    content $icon-var-bug
.{$icon-css-prefix}-vk:before
    content $icon-var-vk
.{$icon-css-prefix}-weibo:before
    content $icon-var-weibo
.{$icon-css-prefix}-renren:before
    content $icon-var-renren
.{$icon-css-prefix}-pagelines:before
    content $icon-var-pagelines
.{$icon-css-prefix}-stack-exchange:before
    content $icon-var-stack-exchange
.{$icon-css-prefix}-arrow-circle-o-right:before
    content $icon-var-arrow-circle-o-right
.{$icon-css-prefix}-arrow-circle-o-left:before
    content $icon-var-arrow-circle-o-left
.{$icon-css-prefix}-toggle-left:before,
.{$icon-css-prefix}-caret-square-o-left:before
    content $icon-var-caret-square-o-left
.{$icon-css-prefix}-dot-circle-o:before
    content $icon-var-dot-circle-o
.{$icon-css-prefix}-wheelchair:before
    content $icon-var-wheelchair
.{$icon-css-prefix}-vimeo-square:before
    content $icon-var-vimeo-square
.{$icon-css-prefix}-turkish-lira:before,
.{$icon-css-prefix}-try:before
    content $icon-var-try
.{$icon-css-prefix}-plus-square-o:before
    content $icon-var-plus-square-o
.{$icon-css-prefix}-space-shuttle:before
    content $icon-var-space-shuttle
.{$icon-css-prefix}-slack:before
    content $icon-var-slack
.{$icon-css-prefix}-envelope-square:before
    content $icon-var-envelope-square
.{$icon-css-prefix}-wordpress:before
    content $icon-var-wordpress
.{$icon-css-prefix}-openid:before
    content $icon-var-openid
.{$icon-css-prefix}-institution:before,
.{$icon-css-prefix}-bank:before,
.{$icon-css-prefix}-university:before
    content $icon-var-university
.{$icon-css-prefix}-mortar-board:before,
.{$icon-css-prefix}-graduation-cap:before
    content $icon-var-graduation-cap
.{$icon-css-prefix}-yahoo:before
    content $icon-var-yahoo
.{$icon-css-prefix}-google:before
    content $icon-var-google
.{$icon-css-prefix}-reddit:before
    content $icon-var-reddit
.{$icon-css-prefix}-reddit-square:before
    content $icon-var-reddit-square
.{$icon-css-prefix}-stumbleupon-circle:before
    content $icon-var-stumbleupon-circle
.{$icon-css-prefix}-stumbleupon:before
    content $icon-var-stumbleupon
.{$icon-css-prefix}-delicious:before
    content $icon-var-delicious
.{$icon-css-prefix}-digg:before
    content $icon-var-digg
.{$icon-css-prefix}-pied-piper:before
    content $icon-var-pied-piper
.{$icon-css-prefix}-pied-piper-alt:before
    content $icon-var-pied-piper-alt
.{$icon-css-prefix}-drupal:before
    content $icon-var-drupal
.{$icon-css-prefix}-joomla:before
    content $icon-var-joomla
.{$icon-css-prefix}-language:before
    content $icon-var-language
.{$icon-css-prefix}-iconx:before
    content $icon-var-iconx
.{$icon-css-prefix}-building:before
    content $icon-var-building
.{$icon-css-prefix}-child:before
    content $icon-var-child
.{$icon-css-prefix}-paw:before
    content $icon-var-paw
.{$icon-css-prefix}-spoon:before
    content $icon-var-spoon
.{$icon-css-prefix}-cube:before
    content $icon-var-cube
.{$icon-css-prefix}-cubes:before
    content $icon-var-cubes
.{$icon-css-prefix}-behance:before
    content $icon-var-behance
.{$icon-css-prefix}-behance-square:before
    content $icon-var-behance-square
.{$icon-css-prefix}-steam:before
    content $icon-var-steam
.{$icon-css-prefix}-steam-square:before
    content $icon-var-steam-square
.{$icon-css-prefix}-recycle:before
    content $icon-var-recycle
.{$icon-css-prefix}-automobile:before,
.{$icon-css-prefix}-car:before
    content $icon-var-car
.{$icon-css-prefix}-cab:before,
.{$icon-css-prefix}-taxi:before
    content $icon-var-taxi
.{$icon-css-prefix}-tree:before
    content $icon-var-tree
.{$icon-css-prefix}-spotify:before
    content $icon-var-spotify
.{$icon-css-prefix}-deviantart:before
    content $icon-var-deviantart
.{$icon-css-prefix}-soundcloud:before
    content $icon-var-soundcloud
.{$icon-css-prefix}-database:before
    content $icon-var-database
.{$icon-css-prefix}-file-pdf-o:before
    content $icon-var-file-pdf-o
.{$icon-css-prefix}-file-word-o:before
    content $icon-var-file-word-o
.{$icon-css-prefix}-file-excel-o:before
    content $icon-var-file-excel-o
.{$icon-css-prefix}-file-powerpoint-o:before
    content $icon-var-file-powerpoint-o
.{$icon-css-prefix}-file-photo-o:before,
.{$icon-css-prefix}-file-picture-o:before,
.{$icon-css-prefix}-file-image-o:before
    content $icon-var-file-image-o
.{$icon-css-prefix}-file-zip-o:before,
.{$icon-css-prefix}-file-archive-o:before
    content $icon-var-file-archive-o
.{$icon-css-prefix}-file-sound-o:before,
.{$icon-css-prefix}-file-audio-o:before
    content $icon-var-file-audio-o
.{$icon-css-prefix}-file-movie-o:before,
.{$icon-css-prefix}-file-video-o:before
    content $icon-var-file-video-o
.{$icon-css-prefix}-file-code-o:before
    content $icon-var-file-code-o
.{$icon-css-prefix}-vine:before
    content $icon-var-vine
.{$icon-css-prefix}-codepen:before
    content $icon-var-codepen
.{$icon-css-prefix}-jsfiddle:before
    content $icon-var-jsfiddle
.{$icon-css-prefix}-life-bouy:before,
.{$icon-css-prefix}-life-buoy:before,
.{$icon-css-prefix}-life-saver:before,
.{$icon-css-prefix}-support:before,
.{$icon-css-prefix}-life-ring:before
    content $icon-var-life-ring
.{$icon-css-prefix}-circle-o-notch:before
    content $icon-var-circle-o-notch
.{$icon-css-prefix}-ra:before,
.{$icon-css-prefix}-rebel:before
    content $icon-var-rebel
.{$icon-css-prefix}-ge:before,
.{$icon-css-prefix}-empire:before
    content $icon-var-empire
.{$icon-css-prefix}-git-square:before
    content $icon-var-git-square
.{$icon-css-prefix}-git:before
    content $icon-var-git
.{$icon-css-prefix}-y-combinator-square:before,
.{$icon-css-prefix}-yc-square:before,
.{$icon-css-prefix}-hacker-news:before
    content $icon-var-hacker-news
.{$icon-css-prefix}-tencent-weibo:before
    content $icon-var-tencent-weibo
.{$icon-css-prefix}-qq:before
    content $icon-var-qq
.{$icon-css-prefix}-wechat:before,
.{$icon-css-prefix}-weixin:before
    content $icon-var-weixin
.{$icon-css-prefix}-send:before,
.{$icon-css-prefix}-paper-plane:before
    content $icon-var-paper-plane
.{$icon-css-prefix}-send-o:before,
.{$icon-css-prefix}-paper-plane-o:before
    content $icon-var-paper-plane-o
.{$icon-css-prefix}-history:before
    content $icon-var-history
.{$icon-css-prefix}-circle-thin:before
    content $icon-var-circle-thin
.{$icon-css-prefix}-header:before
    content $icon-var-header
.{$icon-css-prefix}-paragraph:before
    content $icon-var-paragraph
.{$icon-css-prefix}-sliders:before
    content $icon-var-sliders
.{$icon-css-prefix}-share-alt:before
    content $icon-var-share-alt
.{$icon-css-prefix}-share-alt-square:before
    content $icon-var-share-alt-square
.{$icon-css-prefix}-bomb:before
    content $icon-var-bomb
.{$icon-css-prefix}-soccer-ball-o:before,
.{$icon-css-prefix}-futbol-o:before
    content $icon-var-futbol-o
.{$icon-css-prefix}-tty:before
    content $icon-var-tty
.{$icon-css-prefix}-binoculars:before
    content $icon-var-binoculars
.{$icon-css-prefix}-plug:before
    content $icon-var-plug
.{$icon-css-prefix}-slideshare:before
    content $icon-var-slideshare
.{$icon-css-prefix}-twitch:before
    content $icon-var-twitch
.{$icon-css-prefix}-yelp:before
    content $icon-var-yelp
.{$icon-css-prefix}-newspaper-o:before
    content $icon-var-newspaper-o
.{$icon-css-prefix}-wifi:before
    content $icon-var-wifi
.{$icon-css-prefix}-calculator:before
    content $icon-var-calculator
.{$icon-css-prefix}-paypal:before
    content $icon-var-paypal
.{$icon-css-prefix}-google-wallet:before
    content $icon-var-google-wallet
.{$icon-css-prefix}-cc-visa:before
    content $icon-var-cc-visa
.{$icon-css-prefix}-cc-mastercard:before
    content $icon-var-cc-mastercard
.{$icon-css-prefix}-cc-discover:before
    content $icon-var-cc-discover
.{$icon-css-prefix}-cc-amex:before
    content $icon-var-cc-amex
.{$icon-css-prefix}-cc-paypal:before
    content $icon-var-cc-paypal
.{$icon-css-prefix}-cc-stripe:before
    content $icon-var-cc-stripe
.{$icon-css-prefix}-bell-slash:before
    content $icon-var-bell-slash
.{$icon-css-prefix}-bell-slash-o:before
    content $icon-var-bell-slash-o
.{$icon-css-prefix}-trash:before
    content $icon-var-trash
.{$icon-css-prefix}-copyright:before
    content $icon-var-copyright
.{$icon-css-prefix}-at:before
    content $icon-var-at
.{$icon-css-prefix}-eyedropper:before
    content $icon-var-eyedropper
.{$icon-css-prefix}-paint-brush:before
    content $icon-var-paint-brush
.{$icon-css-prefix}-birthday-cake:before
    content $icon-var-birthday-cake
.{$icon-css-prefix}-area-chart:before
    content $icon-var-area-chart
.{$icon-css-prefix}-pie-chart:before
    content $icon-var-pie-chart
.{$icon-css-prefix}-line-chart:before
    content $icon-var-line-chart
.{$icon-css-prefix}-lastfm:before
    content $icon-var-lastfm
.{$icon-css-prefix}-lastfm-square:before
    content $icon-var-lastfm-square
.{$icon-css-prefix}-toggle-off:before
    content $icon-var-toggle-off
.{$icon-css-prefix}-toggle-on:before
    content $icon-var-toggle-on
.{$icon-css-prefix}-bicycle:before
    content $icon-var-bicycle
.{$icon-css-prefix}-bus:before
    content $icon-var-bus
.{$icon-css-prefix}-ioxhost:before
    content $icon-var-ioxhost
.{$icon-css-prefix}-angellist:before
    content $icon-var-angellist
.{$icon-css-prefix}-cc:before
    content $icon-var-cc
.{$icon-css-prefix}-shekel:before,
.{$icon-css-prefix}-sheqel:before,
.{$icon-css-prefix}-ils:before
    content $icon-var-ils
.{$icon-css-prefix}-meanpath:before
    content $icon-var-meanpath
.{$icon-css-prefix}-buysellads:before
    content $icon-var-buysellads
.{$icon-css-prefix}-connectdevelop:before
    content $icon-var-connectdevelop
.{$icon-css-prefix}-dashcube:before
    content $icon-var-dashcube
.{$icon-css-prefix}-forumbee:before
    content $icon-var-forumbee
.{$icon-css-prefix}-leanpub:before
    content $icon-var-leanpub
.{$icon-css-prefix}-sellsy:before
    content $icon-var-sellsy
.{$icon-css-prefix}-shirtsinbulk:before
    content $icon-var-shirtsinbulk
.{$icon-css-prefix}-simplybuilt:before
    content $icon-var-simplybuilt
.{$icon-css-prefix}-skyatlas:before
    content $icon-var-skyatlas
.{$icon-css-prefix}-cart-plus:before
    content $icon-var-cart-plus
.{$icon-css-prefix}-cart-arrow-down:before
    content $icon-var-cart-arrow-down
.{$icon-css-prefix}-diamond:before
    content $icon-var-diamond
.{$icon-css-prefix}-ship:before
    content $icon-var-ship
.{$icon-css-prefix}-user-secret:before
    content $icon-var-user-secret
.{$icon-css-prefix}-motorcycle:before
    content $icon-var-motorcycle
.{$icon-css-prefix}-street-view:before
    content $icon-var-street-view
.{$icon-css-prefix}-heartbeat:before
    content $icon-var-heartbeat
.{$icon-css-prefix}-venus:before
    content $icon-var-venus
.{$icon-css-prefix}-mars:before
    content $icon-var-mars
.{$icon-css-prefix}-mercury:before
    content $icon-var-mercury
.{$icon-css-prefix}-intersex:before,
.{$icon-css-prefix}-transgender:before
    content $icon-var-transgender
.{$icon-css-prefix}-transgender-alt:before
    content $icon-var-transgender-alt
.{$icon-css-prefix}-venus-double:before
    content $icon-var-venus-double
.{$icon-css-prefix}-mars-double:before
    content $icon-var-mars-double
.{$icon-css-prefix}-venus-mars:before
    content $icon-var-venus-mars
.{$icon-css-prefix}-mars-stroke:before
    content $icon-var-mars-stroke
.{$icon-css-prefix}-mars-stroke-v:before
    content $icon-var-mars-stroke-v
.{$icon-css-prefix}-mars-stroke-h:before
    content $icon-var-mars-stroke-h
.{$icon-css-prefix}-neuter:before
    content $icon-var-neuter
.{$icon-css-prefix}-genderless:before
    content $icon-var-genderless
.{$icon-css-prefix}-iconcebook-official:before
    content $icon-var-iconcebook-official
.{$icon-css-prefix}-pinterest-p:before
    content $icon-var-pinterest-p
.{$icon-css-prefix}-whatsapp:before
    content $icon-var-whatsapp
.{$icon-css-prefix}-server:before
    content $icon-var-server
.{$icon-css-prefix}-user-plus:before
    content $icon-var-user-plus
.{$icon-css-prefix}-user-times:before
    content $icon-var-user-times
.{$icon-css-prefix}-hotel:before,
.{$icon-css-prefix}-bed:before
    content $icon-var-bed
.{$icon-css-prefix}-viacoin:before
    content $icon-var-viacoin
.{$icon-css-prefix}-train:before
    content $icon-var-train
.{$icon-css-prefix}-subway:before
    content $icon-var-subway
.{$icon-css-prefix}-medium:before
    content $icon-var-medium
.{$icon-css-prefix}-yc:before,
.{$icon-css-prefix}-y-combinator:before
    content $icon-var-y-combinator
.{$icon-css-prefix}-optin-monster:before
    content $icon-var-optin-monster
.{$icon-css-prefix}-opencart:before
    content $icon-var-opencart
.{$icon-css-prefix}-expeditedssl:before
    content $icon-var-expeditedssl
.{$icon-css-prefix}-battery-4:before,
.{$icon-css-prefix}-battery-full:before
    content $icon-var-battery-full
.{$icon-css-prefix}-battery-3:before,
.{$icon-css-prefix}-battery-three-quarters:before
    content $icon-var-battery-three-quarters
.{$icon-css-prefix}-battery-2:before,
.{$icon-css-prefix}-battery-half:before
    content $icon-var-battery-half
.{$icon-css-prefix}-battery-1:before,
.{$icon-css-prefix}-battery-quarter:before
    content $icon-var-battery-quarter
.{$icon-css-prefix}-battery-0:before,
.{$icon-css-prefix}-battery-empty:before
    content $icon-var-battery-empty
.{$icon-css-prefix}-mouse-pointer:before
    content $icon-var-mouse-pointer
.{$icon-css-prefix}-i-cursor:before
    content $icon-var-i-cursor
.{$icon-css-prefix}-object-group:before
    content $icon-var-object-group
.{$icon-css-prefix}-object-ungroup:before
    content $icon-var-object-ungroup
.{$icon-css-prefix}-sticky-note:before
    content $icon-var-sticky-note
.{$icon-css-prefix}-sticky-note-o:before
    content $icon-var-sticky-note-o
.{$icon-css-prefix}-cc-jcb:before
    content $icon-var-cc-jcb
.{$icon-css-prefix}-cc-diners-club:before
    content $icon-var-cc-diners-club
.{$icon-css-prefix}-clone:before
    content $icon-var-clone
.{$icon-css-prefix}-balance-scale:before
    content $icon-var-balance-scale
.{$icon-css-prefix}-hourglass-o:before
    content $icon-var-hourglass-o
.{$icon-css-prefix}-hourglass-1:before,
.{$icon-css-prefix}-hourglass-start:before
    content $icon-var-hourglass-start
.{$icon-css-prefix}-hourglass-2:before,
.{$icon-css-prefix}-hourglass-half:before
    content $icon-var-hourglass-half
.{$icon-css-prefix}-hourglass-3:before,
.{$icon-css-prefix}-hourglass-end:before
    content $icon-var-hourglass-end
.{$icon-css-prefix}-hourglass:before
    content $icon-var-hourglass
.{$icon-css-prefix}-hand-grab-o:before,
.{$icon-css-prefix}-hand-rock-o:before
    content $icon-var-hand-rock-o
.{$icon-css-prefix}-hand-stop-o:before,
.{$icon-css-prefix}-hand-paper-o:before
    content $icon-var-hand-paper-o
.{$icon-css-prefix}-hand-scissors-o:before
    content $icon-var-hand-scissors-o
.{$icon-css-prefix}-hand-lizard-o:before
    content $icon-var-hand-lizard-o
.{$icon-css-prefix}-hand-spock-o:before
    content $icon-var-hand-spock-o
.{$icon-css-prefix}-hand-pointer-o:before
    content $icon-var-hand-pointer-o
.{$icon-css-prefix}-hand-peace-o:before
    content $icon-var-hand-peace-o
.{$icon-css-prefix}-trademark:before
    content $icon-var-trademark
.{$icon-css-prefix}-registered:before
    content $icon-var-registered
.{$icon-css-prefix}-creative-commons:before
    content $icon-var-creative-commons
.{$icon-css-prefix}-gg:before
    content $icon-var-gg
.{$icon-css-prefix}-gg-circle:before
    content $icon-var-gg-circle
.{$icon-css-prefix}-tripadvisor:before
    content $icon-var-tripadvisor
.{$icon-css-prefix}-odnoklassniki:before
    content $icon-var-odnoklassniki
.{$icon-css-prefix}-odnoklassniki-square:before
    content $icon-var-odnoklassniki-square
.{$icon-css-prefix}-get-pocket:before
    content $icon-var-get-pocket
.{$icon-css-prefix}-wikipedia-w:before
    content $icon-var-wikipedia-w
.{$icon-css-prefix}-saiconri:before
    content $icon-var-saiconri
.{$icon-css-prefix}-chrome:before
    content $icon-var-chrome
.{$icon-css-prefix}-firefox:before
    content $icon-var-firefox
.{$icon-css-prefix}-opera:before
    content $icon-var-opera
.{$icon-css-prefix}-internet-explorer:before
    content $icon-var-internet-explorer
.{$icon-css-prefix}-tv:before,
.{$icon-css-prefix}-television:before
    content $icon-var-television
.{$icon-css-prefix}-contao:before
    content $icon-var-contao
.{$icon-css-prefix}-500px:before
    content $icon-var-500px
.{$icon-css-prefix}-amazon:before
    content $icon-var-amazon
.{$icon-css-prefix}-calendar-plus-o:before
    content $icon-var-calendar-plus-o
.{$icon-css-prefix}-calendar-minus-o:before
    content $icon-var-calendar-minus-o
.{$icon-css-prefix}-calendar-times-o:before
    content $icon-var-calendar-times-o
.{$icon-css-prefix}-calendar-check-o:before
    content $icon-var-calendar-check-o
.{$icon-css-prefix}-industry:before
    content $icon-var-industry
.{$icon-css-prefix}-map-pin:before
    content $icon-var-map-pin
.{$icon-css-prefix}-map-signs:before
    content $icon-var-map-signs
.{$icon-css-prefix}-map-o:before
    content $icon-var-map-o
.{$icon-css-prefix}-map:before
    content $icon-var-map
.{$icon-css-prefix}-commenting:before
    content $icon-var-commenting
.{$icon-css-prefix}-commenting-o:before
    content $icon-var-commenting-o
.{$icon-css-prefix}-houzz:before
    content $icon-var-houzz
.{$icon-css-prefix}-vimeo:before
    content $icon-var-vimeo
.{$icon-css-prefix}-black-tie:before
    content $icon-var-black-tie
.{$icon-css-prefix}-fonticons:before
    content $icon-var-fonticons
