// Variables
// --------------------------

$icon-font-path =        "../fonts" 
$icon-font-size-base =   14px 
$icon-line-height-base = 2 
$icon-css-prefix =       icon 
$icon-version =          "4.4.0" 
$icon-border-color =     #eee 
$icon-inverse =          #fff 
$icon-li-width =         (30em / 14) 





$icon-var-500px = "\f26e" 
$icon-var-adjust = "\f042" 
$icon-var-adn = "\f170" 
$icon-var-align-center = "\f037" 
$icon-var-align-justify = "\f039" 
$icon-var-align-left = "\f036" 
$icon-var-align-right = "\f038" 
$icon-var-amazon = "\f270" 
$icon-var-ambulance = "\f0f9" 
$icon-var-anchor = "\f13d" 
$icon-var-android = "\f17b" 
$icon-var-angellist = "\f209" 
$icon-var-angle-double-down = "\f103" 
$icon-var-angle-double-left = "\f100" 
$icon-var-angle-double-right = "\f101" 
$icon-var-angle-double-up = "\f102" 
$icon-var-angle-down = "\f107" 
$icon-var-angle-left = "\f104" 
$icon-var-angle-right = "\f105" 
$icon-var-angle-up = "\f106" 
$icon-var-apple = "\f179" 
$icon-var-archive = "\f187" 
$icon-var-area-chart = "\f1fe" 
$icon-var-arrow-circle-down = "\f0ab" 
$icon-var-arrow-circle-left = "\f0a8" 
$icon-var-arrow-circle-o-down = "\f01a" 
$icon-var-arrow-circle-o-left = "\f190" 
$icon-var-arrow-circle-o-right = "\f18e" 
$icon-var-arrow-circle-o-up = "\f01b" 
$icon-var-arrow-circle-right = "\f0a9" 
$icon-var-arrow-circle-up = "\f0aa" 
$icon-var-arrow-down = "\f063" 
$icon-var-arrow-left = "\f060" 
$icon-var-arrow-right = "\f061" 
$icon-var-arrow-up = "\f062" 
$icon-var-arrows = "\f047" 
$icon-var-arrows-alt = "\f0b2" 
$icon-var-arrows-h = "\f07e" 
$icon-var-arrows-v = "\f07d" 
$icon-var-asterisk = "\f069" 
$icon-var-at = "\f1fa" 
$icon-var-automobile = "\f1b9" 
$icon-var-backward = "\f04a" 
$icon-var-balance-scale = "\f24e" 
$icon-var-ban = "\f05e" 
$icon-var-bank = "\f19c" 
$icon-var-bar-chart = "\f080" 
$icon-var-bar-chart-o = "\f080" 
$icon-var-barcode = "\f02a" 
$icon-var-bars = "\f0c9" 
$icon-var-battery-0 = "\f244" 
$icon-var-battery-1 = "\f243" 
$icon-var-battery-2 = "\f242" 
$icon-var-battery-3 = "\f241" 
$icon-var-battery-4 = "\f240" 
$icon-var-battery-empty = "\f244" 
$icon-var-battery-full = "\f240" 
$icon-var-battery-half = "\f242" 
$icon-var-battery-quarter = "\f243" 
$icon-var-battery-three-quarters = "\f241" 
$icon-var-bed = "\f236" 
$icon-var-beer = "\f0fc" 
$icon-var-behance = "\f1b4" 
$icon-var-behance-square = "\f1b5" 
$icon-var-bell = "\f0f3" 
$icon-var-bell-o = "\f0a2" 
$icon-var-bell-slash = "\f1f6" 
$icon-var-bell-slash-o = "\f1f7" 
$icon-var-bicycle = "\f206" 
$icon-var-binoculars = "\f1e5" 
$icon-var-birthday-cake = "\f1fd" 
$icon-var-bitbucket = "\f171" 
$icon-var-bitbucket-square = "\f172" 
$icon-var-bitcoin = "\f15a" 
$icon-var-black-tie = "\f27e" 
$icon-var-bold = "\f032" 
$icon-var-bolt = "\f0e7" 
$icon-var-bomb = "\f1e2" 
$icon-var-book = "\f02d" 
$icon-var-bookmark = "\f02e" 
$icon-var-bookmark-o = "\f097" 
$icon-var-briefcase = "\f0b1" 
$icon-var-btc = "\f15a" 
$icon-var-bug = "\f188" 
$icon-var-building = "\f1ad" 
$icon-var-building-o = "\f0f7" 
$icon-var-bullhorn = "\f0a1" 
$icon-var-bullseye = "\f140" 
$icon-var-bus = "\f207" 
$icon-var-buysellads = "\f20d" 
$icon-var-cab = "\f1ba" 
$icon-var-calculator = "\f1ec" 
$icon-var-calendar = "\f073" 
$icon-var-calendar-check-o = "\f274" 
$icon-var-calendar-minus-o = "\f272" 
$icon-var-calendar-o = "\f133" 
$icon-var-calendar-plus-o = "\f271" 
$icon-var-calendar-times-o = "\f273" 
$icon-var-camera = "\f030" 
$icon-var-camera-retro = "\f083" 
$icon-var-car = "\f1b9" 
$icon-var-caret-down = "\f0d7" 
$icon-var-caret-left = "\f0d9" 
$icon-var-caret-right = "\f0da" 
$icon-var-caret-square-o-down = "\f150" 
$icon-var-caret-square-o-left = "\f191" 
$icon-var-caret-square-o-right = "\f152" 
$icon-var-caret-square-o-up = "\f151" 
$icon-var-caret-up = "\f0d8" 
$icon-var-cart-arrow-down = "\f218" 
$icon-var-cart-plus = "\f217" 
$icon-var-cc = "\f20a" 
$icon-var-cc-amex = "\f1f3" 
$icon-var-cc-diners-club = "\f24c" 
$icon-var-cc-discover = "\f1f2" 
$icon-var-cc-jcb = "\f24b" 
$icon-var-cc-mastercard = "\f1f1" 
$icon-var-cc-paypal = "\f1f4" 
$icon-var-cc-stripe = "\f1f5" 
$icon-var-cc-visa = "\f1f0" 
$icon-var-certificate = "\f0a3" 
$icon-var-chain = "\f0c1" 
$icon-var-chain-broken = "\f127" 
$icon-var-check = "\f00c" 
$icon-var-check-circle = "\f058" 
$icon-var-check-circle-o = "\f05d" 
$icon-var-check-square = "\f14a" 
$icon-var-check-square-o = "\f046" 
$icon-var-chevron-circle-down = "\f13a" 
$icon-var-chevron-circle-left = "\f137" 
$icon-var-chevron-circle-right = "\f138" 
$icon-var-chevron-circle-up = "\f139" 
$icon-var-chevron-down = "\f078" 
$icon-var-chevron-left = "\f053" 
$icon-var-chevron-right = "\f054" 
$icon-var-chevron-up = "\f077" 
$icon-var-child = "\f1ae" 
$icon-var-chrome = "\f268" 
$icon-var-circle = "\f111" 
$icon-var-circle-o = "\f10c" 
$icon-var-circle-o-notch = "\f1ce" 
$icon-var-circle-thin = "\f1db" 
$icon-var-clipboard = "\f0ea" 
$icon-var-clock-o = "\f017" 
$icon-var-clone = "\f24d" 
$icon-var-close = "\f00d" 
$icon-var-cloud = "\f0c2" 
$icon-var-cloud-download = "\f0ed" 
$icon-var-cloud-upload = "\f0ee" 
$icon-var-cny = "\f157" 
$icon-var-code = "\f121" 
$icon-var-code-fork = "\f126" 
$icon-var-codepen = "\f1cb" 
$icon-var-coffee = "\f0f4" 
$icon-var-cog = "\f013" 
$icon-var-cogs = "\f085" 
$icon-var-columns = "\f0db" 
$icon-var-comment = "\f075" 
$icon-var-comment-o = "\f0e5" 
$icon-var-commenting = "\f27a" 
$icon-var-commenting-o = "\f27b" 
$icon-var-comments = "\f086" 
$icon-var-comments-o = "\f0e6" 
$icon-var-compass = "\f14e" 
$icon-var-compress = "\f066" 
$icon-var-connectdevelop = "\f20e" 
$icon-var-contao = "\f26d" 
$icon-var-copy = "\f0c5" 
$icon-var-copyright = "\f1f9" 
$icon-var-creative-commons = "\f25e" 
$icon-var-credit-card = "\f09d" 
$icon-var-crop = "\f125" 
$icon-var-crosshairs = "\f05b" 
$icon-var-css3 = "\f13c" 
$icon-var-cube = "\f1b2" 
$icon-var-cubes = "\f1b3" 
$icon-var-cut = "\f0c4" 
$icon-var-cutlery = "\f0f5" 
$icon-var-dashboard = "\f0e4" 
$icon-var-dashcube = "\f210" 
$icon-var-database = "\f1c0" 
$icon-var-dedent = "\f03b" 
$icon-var-delicious = "\f1a5" 
$icon-var-desktop = "\f108" 
$icon-var-deviantart = "\f1bd" 
$icon-var-diamond = "\f219" 
$icon-var-digg = "\f1a6" 
$icon-var-dollar = "\f155" 
$icon-var-dot-circle-o = "\f192" 
$icon-var-download = "\f019" 
$icon-var-dribbble = "\f17d" 
$icon-var-dropbox = "\f16b" 
$icon-var-drupal = "\f1a9" 
$icon-var-edit = "\f044" 
$icon-var-eject = "\f052" 
$icon-var-ellipsis-h = "\f141" 
$icon-var-ellipsis-v = "\f142" 
$icon-var-empire = "\f1d1" 
$icon-var-envelope = "\f0e0" 
$icon-var-envelope-o = "\f003" 
$icon-var-envelope-square = "\f199" 
$icon-var-eraser = "\f12d" 
$icon-var-eur = "\f153" 
$icon-var-euro = "\f153" 
$icon-var-exchange = "\f0ec" 
$icon-var-exclamation = "\f12a" 
$icon-var-exclamation-circle = "\f06a" 
$icon-var-exclamation-triangle = "\f071" 
$icon-var-expand = "\f065" 
$icon-var-expeditedssl = "\f23e" 
$icon-var-external-link = "\f08e" 
$icon-var-external-link-square = "\f14c" 
$icon-var-eye = "\f06e" 
$icon-var-eye-slash = "\f070" 
$icon-var-eyedropper = "\f1fb" 
$icon-var-iconcebook = "\f09a" 
$icon-var-iconcebook-f = "\f09a" 
$icon-var-iconcebook-official = "\f230" 
$icon-var-iconcebook-square = "\f082" 
$icon-var-iconst-backward = "\f049" 
$icon-var-iconst-forward = "\f050" 
$icon-var-iconx = "\f1ac" 
$icon-var-feed = "\f09e" 
$icon-var-female = "\f182" 
$icon-var-fighter-jet = "\f0fb" 
$icon-var-file = "\f15b" 
$icon-var-file-archive-o = "\f1c6" 
$icon-var-file-audio-o = "\f1c7" 
$icon-var-file-code-o = "\f1c9" 
$icon-var-file-excel-o = "\f1c3" 
$icon-var-file-image-o = "\f1c5" 
$icon-var-file-movie-o = "\f1c8" 
$icon-var-file-o = "\f016" 
$icon-var-file-pdf-o = "\f1c1" 
$icon-var-file-photo-o = "\f1c5" 
$icon-var-file-picture-o = "\f1c5" 
$icon-var-file-powerpoint-o = "\f1c4" 
$icon-var-file-sound-o = "\f1c7" 
$icon-var-file-text = "\f15c" 
$icon-var-file-text-o = "\f0f6" 
$icon-var-file-video-o = "\f1c8" 
$icon-var-file-word-o = "\f1c2" 
$icon-var-file-zip-o = "\f1c6" 
$icon-var-files-o = "\f0c5" 
$icon-var-film = "\f008" 
$icon-var-filter = "\f0b0" 
$icon-var-fire = "\f06d" 
$icon-var-fire-extinguisher = "\f134" 
$icon-var-firefox = "\f269" 
$icon-var-flag = "\f024" 
$icon-var-flag-checkered = "\f11e" 
$icon-var-flag-o = "\f11d" 
$icon-var-flash = "\f0e7" 
$icon-var-flask = "\f0c3" 
$icon-var-flickr = "\f16e" 
$icon-var-floppy-o = "\f0c7" 
$icon-var-folder = "\f07b" 
$icon-var-folder-o = "\f114" 
$icon-var-folder-open = "\f07c" 
$icon-var-folder-open-o = "\f115" 
$icon-var-font = "\f031" 
$icon-var-fonticons = "\f280" 
$icon-var-forumbee = "\f211" 
$icon-var-forward = "\f04e" 
$icon-var-foursquare = "\f180" 
$icon-var-frown-o = "\f119" 
$icon-var-futbol-o = "\f1e3" 
$icon-var-gamepad = "\f11b" 
$icon-var-gavel = "\f0e3" 
$icon-var-gbp = "\f154" 
$icon-var-ge = "\f1d1" 
$icon-var-gear = "\f013" 
$icon-var-gears = "\f085" 
$icon-var-genderless = "\f22d" 
$icon-var-get-pocket = "\f265" 
$icon-var-gg = "\f260" 
$icon-var-gg-circle = "\f261" 
$icon-var-gift = "\f06b" 
$icon-var-git = "\f1d3" 
$icon-var-git-square = "\f1d2" 
$icon-var-github = "\f09b" 
$icon-var-github-alt = "\f113" 
$icon-var-github-square = "\f092" 
$icon-var-gittip = "\f184" 
$icon-var-glass = "\f000" 
$icon-var-globe = "\f0ac" 
$icon-var-google = "\f1a0" 
$icon-var-google-plus = "\f0d5" 
$icon-var-google-plus-square = "\f0d4" 
$icon-var-google-wallet = "\f1ee" 
$icon-var-graduation-cap = "\f19d" 
$icon-var-gratipay = "\f184" 
$icon-var-group = "\f0c0" 
$icon-var-h-square = "\f0fd" 
$icon-var-hacker-news = "\f1d4" 
$icon-var-hand-grab-o = "\f255" 
$icon-var-hand-lizard-o = "\f258" 
$icon-var-hand-o-down = "\f0a7" 
$icon-var-hand-o-left = "\f0a5" 
$icon-var-hand-o-right = "\f0a4" 
$icon-var-hand-o-up = "\f0a6" 
$icon-var-hand-paper-o = "\f256" 
$icon-var-hand-peace-o = "\f25b" 
$icon-var-hand-pointer-o = "\f25a" 
$icon-var-hand-rock-o = "\f255" 
$icon-var-hand-scissors-o = "\f257" 
$icon-var-hand-spock-o = "\f259" 
$icon-var-hand-stop-o = "\f256" 
$icon-var-hdd-o = "\f0a0" 
$icon-var-header = "\f1dc" 
$icon-var-headphones = "\f025" 
$icon-var-heart = "\f004" 
$icon-var-heart-o = "\f08a" 
$icon-var-heartbeat = "\f21e" 
$icon-var-history = "\f1da" 
$icon-var-home = "\f015" 
$icon-var-hospital-o = "\f0f8" 
$icon-var-hotel = "\f236" 
$icon-var-hourglass = "\f254" 
$icon-var-hourglass-1 = "\f251" 
$icon-var-hourglass-2 = "\f252" 
$icon-var-hourglass-3 = "\f253" 
$icon-var-hourglass-end = "\f253" 
$icon-var-hourglass-half = "\f252" 
$icon-var-hourglass-o = "\f250" 
$icon-var-hourglass-start = "\f251" 
$icon-var-houzz = "\f27c" 
$icon-var-html5 = "\f13b" 
$icon-var-i-cursor = "\f246" 
$icon-var-ils = "\f20b" 
$icon-var-image = "\f03e" 
$icon-var-inbox = "\f01c" 
$icon-var-indent = "\f03c" 
$icon-var-industry = "\f275" 
$icon-var-info = "\f129" 
$icon-var-info-circle = "\f05a" 
$icon-var-inr = "\f156" 
$icon-var-instagram = "\f16d" 
$icon-var-institution = "\f19c" 
$icon-var-internet-explorer = "\f26b" 
$icon-var-intersex = "\f224" 
$icon-var-ioxhost = "\f208" 
$icon-var-italic = "\f033" 
$icon-var-joomla = "\f1aa" 
$icon-var-jpy = "\f157" 
$icon-var-jsfiddle = "\f1cc" 
$icon-var-key = "\f084" 
$icon-var-keyboard-o = "\f11c" 
$icon-var-krw = "\f159" 
$icon-var-language = "\f1ab" 
$icon-var-laptop = "\f109" 
$icon-var-lastfm = "\f202" 
$icon-var-lastfm-square = "\f203" 
$icon-var-leaf = "\f06c" 
$icon-var-leanpub = "\f212" 
$icon-var-legal = "\f0e3" 
$icon-var-lemon-o = "\f094" 
$icon-var-level-down = "\f149" 
$icon-var-level-up = "\f148" 
$icon-var-life-bouy = "\f1cd" 
$icon-var-life-buoy = "\f1cd" 
$icon-var-life-ring = "\f1cd" 
$icon-var-life-saver = "\f1cd" 
$icon-var-lightbulb-o = "\f0eb" 
$icon-var-line-chart = "\f201" 
$icon-var-link = "\f0c1" 
$icon-var-linkedin = "\f0e1" 
$icon-var-linkedin-square = "\f08c" 
$icon-var-linux = "\f17c" 
$icon-var-list = "\f03a" 
$icon-var-list-alt = "\f022" 
$icon-var-list-ol = "\f0cb" 
$icon-var-list-ul = "\f0ca" 
$icon-var-location-arrow = "\f124" 
$icon-var-lock = "\f023" 
$icon-var-long-arrow-down = "\f175" 
$icon-var-long-arrow-left = "\f177" 
$icon-var-long-arrow-right = "\f178" 
$icon-var-long-arrow-up = "\f176" 
$icon-var-magic = "\f0d0" 
$icon-var-magnet = "\f076" 
$icon-var-mail-forward = "\f064" 
$icon-var-mail-reply = "\f112" 
$icon-var-mail-reply-all = "\f122" 
$icon-var-male = "\f183" 
$icon-var-map = "\f279" 
$icon-var-map-marker = "\f041" 
$icon-var-map-o = "\f278" 
$icon-var-map-pin = "\f276" 
$icon-var-map-signs = "\f277" 
$icon-var-mars = "\f222" 
$icon-var-mars-double = "\f227" 
$icon-var-mars-stroke = "\f229" 
$icon-var-mars-stroke-h = "\f22b" 
$icon-var-mars-stroke-v = "\f22a" 
$icon-var-maxcdn = "\f136" 
$icon-var-meanpath = "\f20c" 
$icon-var-medium = "\f23a" 
$icon-var-medkit = "\f0icon" 
$icon-var-meh-o = "\f11a" 
$icon-var-mercury = "\f223" 
$icon-var-microphone = "\f130" 
$icon-var-microphone-slash = "\f131" 
$icon-var-minus = "\f068" 
$icon-var-minus-circle = "\f056" 
$icon-var-minus-square = "\f146" 
$icon-var-minus-square-o = "\f147" 
$icon-var-mobile = "\f10b" 
$icon-var-mobile-phone = "\f10b" 
$icon-var-money = "\f0d6" 
$icon-var-moon-o = "\f186" 
$icon-var-mortar-board = "\f19d" 
$icon-var-motorcycle = "\f21c" 
$icon-var-mouse-pointer = "\f245" 
$icon-var-music = "\f001" 
$icon-var-navicon = "\f0c9" 
$icon-var-neuter = "\f22c" 
$icon-var-newspaper-o = "\f1ea" 
$icon-var-object-group = "\f247" 
$icon-var-object-ungroup = "\f248" 
$icon-var-odnoklassniki = "\f263" 
$icon-var-odnoklassniki-square = "\f264" 
$icon-var-opencart = "\f23d" 
$icon-var-openid = "\f19b" 
$icon-var-opera = "\f26a" 
$icon-var-optin-monster = "\f23c" 
$icon-var-outdent = "\f03b" 
$icon-var-pagelines = "\f18c" 
$icon-var-paint-brush = "\f1fc" 
$icon-var-paper-plane = "\f1d8" 
$icon-var-paper-plane-o = "\f1d9" 
$icon-var-paperclip = "\f0c6" 
$icon-var-paragraph = "\f1dd" 
$icon-var-paste = "\f0ea" 
$icon-var-pause = "\f04c" 
$icon-var-paw = "\f1b0" 
$icon-var-paypal = "\f1ed" 
$icon-var-pencil = "\f040" 
$icon-var-pencil-square = "\f14b" 
$icon-var-pencil-square-o = "\f044" 
$icon-var-phone = "\f095" 
$icon-var-phone-square = "\f098" 
$icon-var-photo = "\f03e" 
$icon-var-picture-o = "\f03e" 
$icon-var-pie-chart = "\f200" 
$icon-var-pied-piper = "\f1a7" 
$icon-var-pied-piper-alt = "\f1a8" 
$icon-var-pinterest = "\f0d2" 
$icon-var-pinterest-p = "\f231" 
$icon-var-pinterest-square = "\f0d3" 
$icon-var-plane = "\f072" 
$icon-var-play = "\f04b" 
$icon-var-play-circle = "\f144" 
$icon-var-play-circle-o = "\f01d" 
$icon-var-plug = "\f1e6" 
$icon-var-plus = "\f067" 
$icon-var-plus-circle = "\f055" 
$icon-var-plus-square = "\f0fe" 
$icon-var-plus-square-o = "\f196" 
$icon-var-power-off = "\f011" 
$icon-var-print = "\f02f" 
$icon-var-puzzle-piece = "\f12e" 
$icon-var-qq = "\f1d6" 
$icon-var-qrcode = "\f029" 
$icon-var-question = "\f128" 
$icon-var-question-circle = "\f059" 
$icon-var-quote-left = "\f10d" 
$icon-var-quote-right = "\f10e" 
$icon-var-ra = "\f1d0" 
$icon-var-random = "\f074" 
$icon-var-rebel = "\f1d0" 
$icon-var-recycle = "\f1b8" 
$icon-var-reddit = "\f1a1" 
$icon-var-reddit-square = "\f1a2" 
$icon-var-refresh = "\f021" 
$icon-var-registered = "\f25d" 
$icon-var-remove = "\f00d" 
$icon-var-renren = "\f18b" 
$icon-var-reorder = "\f0c9" 
$icon-var-repeat = "\f01e" 
$icon-var-reply = "\f112" 
$icon-var-reply-all = "\f122" 
$icon-var-retweet = "\f079" 
$icon-var-rmb = "\f157" 
$icon-var-road = "\f018" 
$icon-var-rocket = "\f135" 
$icon-var-rotate-left = "\f0e2" 
$icon-var-rotate-right = "\f01e" 
$icon-var-rouble = "\f158" 
$icon-var-rss = "\f09e" 
$icon-var-rss-square = "\f143" 
$icon-var-rub = "\f158" 
$icon-var-ruble = "\f158" 
$icon-var-rupee = "\f156" 
$icon-var-saiconri = "\f267" 
$icon-var-save = "\f0c7" 
$icon-var-scissors = "\f0c4" 
$icon-var-search = "\f002" 
$icon-var-search-minus = "\f010" 
$icon-var-search-plus = "\f00e" 
$icon-var-sellsy = "\f213" 
$icon-var-send = "\f1d8" 
$icon-var-send-o = "\f1d9" 
$icon-var-server = "\f233" 
$icon-var-share = "\f064" 
$icon-var-share-alt = "\f1e0" 
$icon-var-share-alt-square = "\f1e1" 
$icon-var-share-square = "\f14d" 
$icon-var-share-square-o = "\f045" 
$icon-var-shekel = "\f20b" 
$icon-var-sheqel = "\f20b" 
$icon-var-shield = "\f132" 
$icon-var-ship = "\f21a" 
$icon-var-shirtsinbulk = "\f214" 
$icon-var-shopping-cart = "\f07a" 
$icon-var-sign-in = "\f090" 
$icon-var-sign-out = "\f08b" 
$icon-var-signal = "\f012" 
$icon-var-simplybuilt = "\f215" 
$icon-var-sitemap = "\f0e8" 
$icon-var-skyatlas = "\f216" 
$icon-var-skype = "\f17e" 
$icon-var-slack = "\f198" 
$icon-var-sliders = "\f1de" 
$icon-var-slideshare = "\f1e7" 
$icon-var-smile-o = "\f118" 
$icon-var-soccer-ball-o = "\f1e3" 
$icon-var-sort = "\f0dc" 
$icon-var-sort-alpha-asc = "\f15d" 
$icon-var-sort-alpha-desc = "\f15e" 
$icon-var-sort-amount-asc = "\f160" 
$icon-var-sort-amount-desc = "\f161" 
$icon-var-sort-asc = "\f0de" 
$icon-var-sort-desc = "\f0dd" 
$icon-var-sort-down = "\f0dd" 
$icon-var-sort-numeric-asc = "\f162" 
$icon-var-sort-numeric-desc = "\f163" 
$icon-var-sort-up = "\f0de" 
$icon-var-soundcloud = "\f1be" 
$icon-var-space-shuttle = "\f197" 
$icon-var-spinner = "\f110" 
$icon-var-spoon = "\f1b1" 
$icon-var-spotify = "\f1bc" 
$icon-var-square = "\f0c8" 
$icon-var-square-o = "\f096" 
$icon-var-stack-exchange = "\f18d" 
$icon-var-stack-overflow = "\f16c" 
$icon-var-star = "\f005" 
$icon-var-star-half = "\f089" 
$icon-var-star-half-empty = "\f123" 
$icon-var-star-half-full = "\f123" 
$icon-var-star-half-o = "\f123" 
$icon-var-star-o = "\f006" 
$icon-var-steam = "\f1b6" 
$icon-var-steam-square = "\f1b7" 
$icon-var-step-backward = "\f048" 
$icon-var-step-forward = "\f051" 
$icon-var-stethoscope = "\f0f1" 
$icon-var-sticky-note = "\f249" 
$icon-var-sticky-note-o = "\f24a" 
$icon-var-stop = "\f04d" 
$icon-var-street-view = "\f21d" 
$icon-var-strikethrough = "\f0cc" 
$icon-var-stumbleupon = "\f1a4" 
$icon-var-stumbleupon-circle = "\f1a3" 
$icon-var-subscript = "\f12c" 
$icon-var-subway = "\f239" 
$icon-var-suitcase = "\f0f2" 
$icon-var-sun-o = "\f185" 
$icon-var-superscript = "\f12b" 
$icon-var-support = "\f1cd" 
$icon-var-table = "\f0ce" 
$icon-var-tablet = "\f10a" 
$icon-var-tachometer = "\f0e4" 
$icon-var-tag = "\f02b" 
$icon-var-tags = "\f02c" 
$icon-var-tasks = "\f0ae" 
$icon-var-taxi = "\f1ba" 
$icon-var-television = "\f26c" 
$icon-var-tencent-weibo = "\f1d5" 
$icon-var-terminal = "\f120" 
$icon-var-text-height = "\f034" 
$icon-var-text-width = "\f035" 
$icon-var-th = "\f00a" 
$icon-var-th-large = "\f009" 
$icon-var-th-list = "\f00b" 
$icon-var-thumb-tack = "\f08d" 
$icon-var-thumbs-down = "\f165" 
$icon-var-thumbs-o-down = "\f088" 
$icon-var-thumbs-o-up = "\f087" 
$icon-var-thumbs-up = "\f164" 
$icon-var-ticket = "\f145" 
$icon-var-times = "\f00d" 
$icon-var-times-circle = "\f057" 
$icon-var-times-circle-o = "\f05c" 
$icon-var-tint = "\f043" 
$icon-var-toggle-down = "\f150" 
$icon-var-toggle-left = "\f191" 
$icon-var-toggle-off = "\f204" 
$icon-var-toggle-on = "\f205" 
$icon-var-toggle-right = "\f152" 
$icon-var-toggle-up = "\f151" 
$icon-var-trademark = "\f25c" 
$icon-var-train = "\f238" 
$icon-var-transgender = "\f224" 
$icon-var-transgender-alt = "\f225" 
$icon-var-trash = "\f1f8" 
$icon-var-trash-o = "\f014" 
$icon-var-tree = "\f1bb" 
$icon-var-trello = "\f181" 
$icon-var-tripadvisor = "\f262" 
$icon-var-trophy = "\f091" 
$icon-var-truck = "\f0d1" 
$icon-var-try = "\f195" 
$icon-var-tty = "\f1e4" 
$icon-var-tumblr = "\f173" 
$icon-var-tumblr-square = "\f174" 
$icon-var-turkish-lira = "\f195" 
$icon-var-tv = "\f26c" 
$icon-var-twitch = "\f1e8" 
$icon-var-twitter = "\f099" 
$icon-var-twitter-square = "\f081" 
$icon-var-umbrella = "\f0e9" 
$icon-var-underline = "\f0cd" 
$icon-var-undo = "\f0e2" 
$icon-var-university = "\f19c" 
$icon-var-unlink = "\f127" 
$icon-var-unlock = "\f09c" 
$icon-var-unlock-alt = "\f13e" 
$icon-var-unsorted = "\f0dc" 
$icon-var-upload = "\f093" 
$icon-var-usd = "\f155" 
$icon-var-user = "\f007" 
$icon-var-user-md = "\f0f0" 
$icon-var-user-plus = "\f234" 
$icon-var-user-secret = "\f21b" 
$icon-var-user-times = "\f235" 
$icon-var-users = "\f0c0" 
$icon-var-venus = "\f221" 
$icon-var-venus-double = "\f226" 
$icon-var-venus-mars = "\f228" 
$icon-var-viacoin = "\f237" 
$icon-var-video-camera = "\f03d" 
$icon-var-vimeo = "\f27d" 
$icon-var-vimeo-square = "\f194" 
$icon-var-vine = "\f1ca" 
$icon-var-vk = "\f189" 
$icon-var-volume-down = "\f027" 
$icon-var-volume-off = "\f026" 
$icon-var-volume-up = "\f028" 
$icon-var-warning = "\f071" 
$icon-var-wechat = "\f1d7" 
$icon-var-weibo = "\f18a" 
$icon-var-weixin = "\f1d7" 
$icon-var-whatsapp = "\f232" 
$icon-var-wheelchair = "\f193" 
$icon-var-wifi = "\f1eb" 
$icon-var-wikipedia-w = "\f266" 
$icon-var-windows = "\f17a" 
$icon-var-won = "\f159" 
$icon-var-wordpress = "\f19a" 
$icon-var-wrench = "\f0ad" 
$icon-var-xing = "\f168" 
$icon-var-xing-square = "\f169" 
$icon-var-y-combinator = "\f23b" 
$icon-var-y-combinator-square = "\f1d4" 
$icon-var-yahoo = "\f19e" 
$icon-var-yc = "\f23b" 
$icon-var-yc-square = "\f1d4" 
$icon-var-yelp = "\f1e9" 
$icon-var-yen = "\f157" 
$icon-var-youtube = "\f167" 
$icon-var-youtube-play = "\f16a" 
$icon-var-youtube-square = "\f166" 

